src/ConsoleClient/Service References/DulplexServiceReference/DulplexService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DulplexService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDulplexService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8123/DulplexService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8123/DulplexService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDulplexService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IDulplexService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IDulplexService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IDulplexService_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="IDulplexService_UnSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IDulplexService_DisplayResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DisplayResult" />
  </wsdl:message>
  <wsdl:message name="IDulplexService_RespondToNotification_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RespondToNotification" />
  </wsdl:message>
  <wsdl:portType name="IDulplexService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IDulplexService/Add" message="tns:IDulplexService_Add_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IDulplexService/Subscribe" message="tns:IDulplexService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDulplexService/SubscribeResponse" message="tns:IDulplexService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IDulplexService/UnSubscribe" message="tns:IDulplexService_UnSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDulplexService/UnSubscribeResponse" message="tns:IDulplexService_UnSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayResult">
      <wsdl:output wsaw:Action="http://tempuri.org/IDulplexService/DisplayResult" message="tns:IDulplexService_DisplayResult_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RespondToNotification">
      <wsdl:output wsaw:Action="http://tempuri.org/IDulplexService/RespondToNotification" message="tns:IDulplexService_RespondToNotification_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDulplexService" type="tns:IDulplexService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDulplexService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IDulplexService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IDulplexService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap12:operation soapAction="http://tempuri.org/IDulplexService/UnSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayResult">
      <soap12:operation soapAction="http://tempuri.org/IDulplexService/DisplayResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondToNotification">
      <soap12:operation soapAction="http://tempuri.org/IDulplexService/RespondToNotification" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DulplexService">
    <wsdl:port name="NetTcpBinding_IDulplexService" binding="tns:NetTcpBinding_IDulplexService">
      <soap12:address location="net.tcp://localhost:9999/DulplexService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9999/DulplexService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn></Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>